<div class="container flex-container flex-center flex-row">
    <div class="container-left">
        <img src="assets/login-bg.png">
    </div>
    <div class="container-right flex-container flex-center flex-column">
        <h2>Login</h2>
        <form [formGroup]="formLogin" (ngSubmit)="login()">
            <div class="margin-bottom">
                <input type="text" placeholder="usuario" formControlName="user" />
                <br />
                <small class="error-form-input" *ngIf="validarCampo('user')">Campo requerido</small>
            </div>
            <div class="margin-bottom">
                <input type="password" placeholder="contraseña" formControlName="password" />
                <br />
                <small class="error-form-input" *ngIf="validarCampo('password')">Campo requerido</small>
            </div>
            <button type="submit">Aceptar</button>
            <br />
            <small class="error-form-input" *ngIf="errorLogin">Error de usuario y/o contraseña</small>
        </form>
    </div>
</div>