<div class="margin flex-container flex-center flex-row">
    <button class="primary margin-end" [routerLink]="'gestionar'">Agregar</button>
    <div class="flex-spacer"></div>
    <button class="secondary margin-end" [routerLink]="'/dashboard'">Volver al dashboard</button>
</div>
<table class="margin total">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Posición</th>
            <th>Camiseta</th>
            <th>Equipo</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let jugador of jugadores">
            <td>{{ jugador.nombre | titlecase }}</td>
            <td>{{ jugador.posicion | titlecase }}</td>
            <td>{{ jugador.camiseta }}</td>
            <td>{{ jugador.equipo.nombre | titlecase }}</td>
            <td>
                <button class="small primary margin-end" [routerLink]="['gestionar/', jugador._id]">Editar</button>
                <button class="small secondary margin-end" [routerLink]="'detalles/' + jugador._id">Ver</button>
                <button class="small danger" (click)="borrarJugador(jugador._id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
</table>