<div class="flex-container flex-total flex-center flex-row">
    <div class="flex-spacer"></div>
    <a routerLink="/equipos" routerLinkActive="active">
        <div class="flex-container flex-center flex-column">
            <img src="assets/equipos.jpeg" height="200" />
            <h3>Equipos</h3>
        </div>
    </a>
    <div class="flex-spacer"></div>
    <a routerLink="/jugadores" routerLinkActive="active">
        <div class="flex-container flex-center flex-column">
            <img src="assets/jugadores.png" height="200" />
            <h3>Jugadores</h3>
        </div>
    </a>
    <div class="flex-spacer"></div>
    <a routerLink="/partidos" routerLinkActive="active">
        <div class="flex-container flex-center flex-column">
            <img src="assets/partido.png" height="200" />
            <h3>Partidos</h3>
        </div>
    </a>
    <div class="flex-spacer"></div>
    <a routerLink="/narradores" routerLinkActive="active">
        <div class="flex-container flex-center flex-column">
            <img src="assets/narrador.jpg" height="200" />
            <h3>Narradores</h3>
        </div>
    </a>
    <div class="flex-spacer"></div>
</div>