<h3 class="margin">Agregar cambio</h3>
<form class="margin" [formGroup]="formCambio" (ngSubmit)="guardar()" *ngIf="partido">
    <div class="margin-bottom">
        <select formControlName="equipo">
            <option value="null">Equipo</option>
            <option *ngFor="let equipo of buscarEquipos()" [value]="equipo._id">{{ equipo.nombre }}</option>
        </select>
        <br />
        <small class="error-form-input" *ngIf="validarCampo('equipo')">Campo requerido</small>
    </div>
    <div class="margin-bottom">
        <select formControlName="jugadorEntra">
            <option value="null">Jugador entra</option>
            <option *ngFor="let jugador of buscarJugadores()" [value]="jugador._id">{{ jugador.nombre }}</option>
        </select>
        <br />
        <small class="error-form-input" *ngIf="validarCampo('jugadorEntra')">Campo requerido</small>
    </div>
    <div class="margin-bottom">
        <select formControlName="jugadorSale">
            <option value="null">Jugador sale</option>
            <option *ngFor="let jugador of buscarJugadores()" [value]="jugador._id">{{ jugador.nombre }}</option>
        </select>
        <br />
        <small class="error-form-input" *ngIf="validarCampo('jugadorSale')">Campo requerido</small>
    </div>
    <div class="margin-bottom">
        <input type="number" placeholder="minuto" formControlName="minuto" />
        <br />
        <small class="error-form-input" *ngIf="validarCampo('minuto')">Campo requerido</small>
    </div>
    <button type="submit" class="primary">Aceptar</button>
</form>